{% extends 'base.html' %}

{% block content %}

{# 使用 length 过滤器获取 book 变量的长度 #}
<p>TODO：{{ books|length }}</p>
<form method="post" action="{{ url_for('add') }}">
    Title <input type="text" name="title" autocomplete="off" required>
    Type <input type="text" name="type" autocomplete="off" required>
    <input class="btn" type="submit" name="submit" value="Add">
</form>

<ul class="book-list">
    {% for book in books %} {# 迭代 movies 变量 #}
        <li>{{ book.title }} - {{ book.type }}</li>
    {% endfor %}
</ul>
{% endblock %}